@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
:root {
  --mainHover: #34ace0;
  --mainHoverTransparent : #34ace07a;
  --paragraphColor : #777;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  font-weight: normal;
  list-style: none !important;
  text-decoration: none !important;
}
body {
  background-color: rgb(182, 193, 193);
}
p {
  color: var(--paragraphColor);
}

